.header-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  color: var(--branco);
  padding: 1rem;
  z-index: 10;
  background-color: transparent;
  transition: all 0.5s ease;
}

#header.scrolled {
  background-color: rgba(17, 20, 24, 0.99);
}

.header-logo {
  font-weight: bold;
  margin: 10px;
  z-index: 20;
  font-size: 1.5rem;
  background-color: transparent;
  text-decoration: none;
  color: var(--branco);
  padding: 10px;
}

.menu-toggle {
  border: none;
  color: var(--branco);
  font-size: 1.8rem;
  cursor: pointer;
  padding: 6px 10px;
  z-index: 20;
  background-color: transparent;
}

.header-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(50px);
  transition: transform 0.8s ease, opacity 0.8s ease;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

.header-nav ul {
  list-style: none;
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
  background-color: transparent;
}

.header-nav li {
  background-color: transparent;
}

.header-nav a {
  color: var(--branco);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  background-color: transparent;
   transition: all 0.3s ease;

  &:hover {
    color: var(--vermelho);
  }
}

.header-nav.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}



@media (min-width: 1024px) {
  .header-container {
    height: 80px;
  }

  .menu-toggle {
    display: none;
  }

  .header-nav {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
    padding: 0;
    justify-content: start;
    background-color: transparent;
    backdrop-filter: initial;
  }

  .header-nav ul {
    flex-direction: row;
    margin-top: 0;
    padding: 0;
    width: 500px;
    margin-right: 2rem;
    justify-content: space-between;
  }
}
