.projetos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--branco);
  padding: 2rem 1rem;
  margin: 0 auto;
}

.area-projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.projetos-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.projetos-texto h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.projetos-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 2rem;
}

.projetos-lista ul {
  list-style: none;
  padding: 0;
}

.projetos-lista li {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

@media (min-width: 768px) {
  .projetos-texto{
    max-width: 70%;
  }
}
@media (min-width: 1024px) {
  .projetos-container {
    max-width: 90%;
  }
}

@media (min-width: 1440px) {
  .projetos-container {
    max-width: 70%;
  }
}
