.projetos-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 600px;
  padding: 2rem;
  text-align: center;
  color: white;
}

.projetos-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.projetos-container ul {
  list-style: none;
  padding: 0;
}

.projetos-container li {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
