* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
}

#app {
  font-family: "Arial", sans-serif;
  width: 100%;
}

:root {
  --branco: #fefefe;
  --vermelho:  #c23112;
  --grafite:#212529;
  --cinza1: #343a40;
  --cinza2: #909294;
}